<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MELTS WS BxApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Melts-rhyolite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>batch-Melts-rhyolite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>public-Melts-rhyolite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>rMELTSframework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7766534F1636FEEB0004A2D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77730FC11641B60B004A6DF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7785CCC0163AFA68004AA393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7785CD1C163AFE38004AA393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>779FBAFD1635D86200692847</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77A743F3163611C50038627C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77B68D481627A64800C6296F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77C99A90169B4EB000DF7464</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77C99AD7169B4F8300DF7464</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77C99AE0169B4FF500DF7464</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77C99AF7169B4FF500DF7464</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77C99B54169B6EAF00DF7464</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
